.mxj-el-dropdown-popover-black {
  background-color: #000 !important;
  border-color: #000 !important;
  border-radius: 0 !important;
  color: #fff !important;
  > .el-dropdown-menu__item {
    color: #fff !important;
    &:hover, &:focus {
      color: #000 !important;
    }
  }
  > .popper__arrow {
    border-bottom-color: #000 !important;
    &:after {
      border-bottom-color: #000 !important;
    }
  }
}


.el-button--default:focus {
  background-color: #fff !important;
}

.el-button--default:active {
  background-color: #e6e6e6 !important;
}

.el-button--primary:focus {
  background-color: #000 !important;
}
.el-button--primary:active {
  background-color: #333 !important;
}
